*{
      margin: 0;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  nav {
      background-color: antiquewhite;
      display: flex;
  }

  .left-nav {
      flex: 20%;
      font-size: 40px;
      font-weight: bold;
  }

  .right-nav {
      flex: 80%;
      text-align: right;
  }

  .right-nav ul {
      list-style-type: none;
  }

  .right-nav ul li {
      display: inline-block;
      padding: 20px;
      font-size: 20px;
      font-weight: bold;
      transition: 2s all;

  }

  .right-nav ul li a {
      color: black;
      text-decoration: none;
  }

  .right-nav ul li:hover {
      background-color: black;
  }

  .right-nav ul li:hover a {
      color: beige;
  }
  /* Header CSS */
  header{
    background-color: black;
  }
  header ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }
  header ul li{
    padding: 10px;
  }
  
  header ul li a{
    color: beige;
    font-size: 20px;
    font-weight: bold;
  }
  .fa-snapchat{
    color: yellow;
  }
  

  #banner{
    height: 400px;
    border: 10px solid;
    display: flex;
    background-color: whitesmoke;
    color: black;
  }
  #banner p{
    font-size: 40px;
  }
  #banner p span{
    font-size: 100px;
    background-image: linear-gradient(purple, orange, blue);
    background-clip: text;
    color: transparent;
  }
  .right-banner{
    font-size: 90px;
  }
  .right-banner img{
    height: 400px;
  }
  .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    justify-content: space-around;
  }
  .container .items{
    boredr:4px groove blanchedalmond;
    font-size: 30px;
    padding: 20px;
    font-weight: bold;
    text-align: center;
    transition: .8s all;
  }
  .items:hover{
    transform: scale(1.1);
  }
  .items:nth-child(even){
    background-color: orange;
    color: black;
  }
  .items:nth-child(odd){
    background-color: purple;
    color:white;
  }
  .skill{
    background-color: bisque;
    margin-bottom: 40px;
    padding: 20px;
  }
  .skill p{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    width:25%;
    margin: auto;
    border-bottom: 10px groove black;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-bottom: 30px;

  }

/*CSS for contact form */
    .contact{
        background-color: black;
        color: bisque;
        padding: 50px;
    }
    .contact p{
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        width:25%;
        margin: auto;
        border-bottom: 10px groove bisque;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        margin-bottom: 30px;
    }
    .form{
        border: 5px solid bisque;
        width:50%;
        margin: auto;
        padding: 10px;
    }
    label{
        display: block;
        font-size: 20px;
        margin: 4px 0px;
        font-style: italic;
        font-weight: bold;
    }
    input,select{
        width: 90%;
        padding: 10px 20px;
        border-radius: 10px;
    }
    input[type="submit"]{
        background-color: antiquewhite;
        color: black;
        font-size: 20px;
        font-weight: bold;
        border: none;
        margin-top: 20px;
        cursor: pointer;
    }
    footer{
        background-color: antiquewhite;
        color: black;
        text-align: center;
        font-size: 35px;
        }